header {
  width: 100%;
  position: relative;
  background-color: $bg-color;
  z-index: 1;
  &.homepage-header {
    background: none !important;
    position: relative;
    .navbar-brand img {
      transform-origin: left;
      animation: flip 2.3s 300ms both ease-in-out;
    }
    @media only screen and (min-width: 992px) {
      & {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
      }
    }
  }
  z-index: 2;

  @media only screen and (min-width: 992px) {
    background: url('/imgs/bg-food.jpg') no-repeat;
    background-size: 100%;
    &:not(.homepage-header)::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.23);
      position: absolute;
    }
  }

  nav {
    z-index: 3;

    @media only screen and (min-width: 992px) {
      .navbar-brand.homepage-nav img {
        width: 150px;
        position: absolute;
        top: 5px;
        left: 50%;
      }
    }

    .navbar-toggler {
      z-index: 1;
      position: relative;
      height: 4rem !important;
      border: none;

      // Hamburger icon
      .hamburger {
        position: relative;
        width: 2rem;
        height: 3px;
        background: black;
        display: block;
        z-index: 123;
        transition: all 300ms ease;

        &::after,
        &::before {
          content: '';
          position: absolute;
          width: 2rem;
          height: 3px;
          background: black;
          display: block;
          transition: all 300ms ease;
        }

        &::before {
          top: -10px;
        }

        &::after {
          top: 10px;
        }

        // When button is clicked
        &.clicked {
          background: rgba(0, 0, 0, 0);
          animation: clockwise 0.3s ease-out;
          &::before {
            background: black;
            top: 0;
            transform: rotate(45deg);
          }

          &::after {
            background: black;
            top: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }

    @keyframes clockwise {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(90deg);
      }
    }

    width: 100%;

    .navbar-brand img {
      width: 100px;
    }

    .nav-link {
      position: relative;
      z-index: 1;

      @media only screen and (min-width: 992px) {
        &::after {
          content: '';
          width: 0;
          height: 2px;
          background: white;
          bottom: 0;
          display: block;
          transition: width 0.5s ease;
        }

        &:hover::after {
          width: 100%;
          z-index: 2;
        }
      }
    }

    @media only screen and (min-width: 992px) {
      .nav-link {
        // background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        font-size: 30px;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        color: white !important;
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .collapse.show,
    .collapsing {
      position: absolute;
      color: black !important;
      top: 88%;
      background: white;
      left: 0;
      padding: 2px;
      width: 100%;
      z-index: 231;
    }

    & {
      background-color: $bg-color;
      position: relative;

      .navbar-brand img {
        left: 0 !important;
        top: 0 !important;
        width: 60px !important;
        animation: none !important;
      }
      .navbar-toggler {
        color: black;
      }
    }
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg) translateX(-50%);
  }

  70% {
    transform: rotateY(380deg) translateX(-50%);
  }

  90% {
    transform: rotateY(350deg) translateX(-50%);
  }

  100% {
    transform: rotateY(360deg) translateX(-50%);
  }
}
