@import 'variables';
header{
    background:white;
}
main{
    background-image:radial-gradient( rgb(154, 189, 189),white); 
}
a {
    color:black;
}

.top-recipe-image{
    width: 100%;
    height:400px; /* would vh be better than px?  (0-100vh) */
    background-image: url("/imgs/pasta2.jpeg");
    background-size: cover;
    background-position: center;
}

.content-frame{
    border:2px solid black;
    margin:auto;
    
    margin-top:-50px;
    background-color:white;
    position: relative;
}

.Naringsvarde-col{
    margin:auto;
    border:2px solid black;
    height:200px;
    /* position: relative; */
    background-color:lightgrey;
}

.hej{
    margin:auto;
    border:2px solid black;
    background-color: #fff;
}
