@import 'variables';

.wrapperA {
    width: 1200px;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.ingredienser-section{
    border:5px solid black;
}
