@import 'variables';
@import 'main';

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background: $bg-color;
}

header {
  background-color:rgb(235, 235, 235);
}

* {
  box-sizing: border-box;
}
