//Nicer import look
@import 'variables',
        'header',
        'main',
        'recipe',
        'all-recipes',
        'create-recipe';

html,
body {
  height: 100%;
  font-family: 'Vidaloka', serif;
}

body {
  overflow-x: hidden;
  background: $bg-color;
}

* {
  box-sizing: border-box;
}
