Object.assign(CreateRecipe.prototype, {template() { return`

<form class="container create-recipe">

  <!-- First row -->
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="file-input-wrapper mx-auto">
        <div class="input-wrapper">
          <label for="file" class="btn btn-secondary">Klicka för att ladda upp bild</label>
          <input id="file" type="file" value="Ladda upp bild">
        </div>
        <!-- jQuery will put image here -->
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="form-row">
        <label for="ingredienser" class="mx-auto">Lägg till ingredienser</label>
        <input id="ingredienser" type="text" placeholder="Ange ingrediens..." class="form-control">
      </div>
      <div class="ingrediens-result">
        <ul class="list-group">

        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-4 ingrediens-list">
      <p class="text-center mb-0">Tillagda ingredienser</p>
      <ul class="list-group border-0">

      </ul>
    </div>
  </div>
  <!-- /First row end -->

  <!-- Second Row -->
  <div class="row mt-3 mt-lg-0">
    <div class="col-12 col-lg-6 add-instructions-wrapper d-flex flex-column align-self-center">
      <p class="text-center">Lägg till instruktion <span class="current-step">1</span></p>
      <textarea name="instruction" id="add-instruction" class="form-control"></textarea>
      <button class="add-instruction-btn btn btn-success mx-auto">Lägg till</button>
    </div>
    <div class="col-12 col-lg-6 mt-3 mt-lg-5 added-instructions">
      <p class="text-center">Tillagda instruktioner</p>
      <ul class="list-group text-center">
        <li class="list-group-item">
          <span class="badge badge-pill badge-primary mr-1">1</span>
          Koka vatten
        </li>
        <li class="list-group-item">
          <span class="badge badge-pill badge-primary mr-1">2</span>
          Häll ut vattnet
        </li>
        <li class="list-group-item">
          <span class="badge badge-pill badge-primary mr-1">3</span>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, blanditiis recusandae similique adipisci
        </li>
        <li class="list-group-item">
          <span class="badge badge-pill badge-primary mr-1">3</span>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, blanditiis recusandae similique adipisci
        </li>
        <li class="list-group-item">
          <span class="badge badge-pill badge-primary mr-1">3</span>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, blanditiis recusandae similique adipisci
        </li>
        <li class="list-group-item">
          <span class="badge badge-pill badge-primary mr-1">3</span>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, blanditiis recusandae similique adipisci
        </li>
        <li class="list-group-item">
          <span class="badge badge-pill badge-primary mr-1">3</span>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, blanditiis recusandae similique adipisci
        </li>
      </ul>
    </div>
  </div>
  <!-- /Second row end -->
</form>



`;}});