Object.assign(CreateRecipe.prototype, {template() { return`

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../imgs/vegetarian.jpg" alt="Card image cap">
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-4">
      <h3 class="lrecept">Lägg till recept</h3>
      <div class="search-box">
        <input class="search" type="text" name="" placeholder="type to search">
        <a class="search-btn" href="#">
          <i class="fas fa-search"></i>
        </a>
      </div>
      <ul class="list-group">
        <li class="list-group-item border-0"></li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">1</span> mat
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">2</span> kebab
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">3</span> Pizza</li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">4</span> falafel</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item border-0">instruktioner </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">1</span> Instruktion 1
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">2</span> Instruktion 2
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">3</span> Instruktion 3</li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill">4</span> Instruktion 4</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12 mt-5">
      <p class="card-text"> Lägg till instruktioner</p>
      <div class="card w-40">
        <div class="card-body">
          <p>ehfboebhforborbobf0b0e o r0r0br00rbbgij rrj rnv+unw+9nf+93nf93rnf</p>
          <p>ehfboebhforborbobf0b0e o r0r0br00rbbg</p>
          <p>ehfboebhforborbobf0b0e o r0r0br00rbbg</p>
          <p>ehfboebhforborbobf0b0e o r0r0br00rbbg</p>
        </div>
      </div>
    </div>
  </div>
</div>



`;}});