Object.assign(CreateRecipe.prototype, {template() { return`

<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card mx-auto">
        <img class="card-img-top" src="/imgs/grey.jpeg" alt="Card image cap">
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-12">
      <h4 style="text-align: center">Lägg till ingredienser</h4>
      <div class="search-box">
        <input class="search" type="text" size="35" placeholder="type to search">
        <a class="search-btn" href="#">
          <i class="fas fa-search"></i>
        </a>
      </div>
      <ul class="list-group">
        
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">1</span> Köttfärs
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">2</span> Tomat
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">3</span> Lax</li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">4</span> Salt</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-12 col-12">
      <ul class="list-group">
        <li class="list-group-item border-0">instruktioner </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">1</span> Starta spisen
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">2</span> Lägg på smör
        </li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">3</span> Börja steka</li>
        <li class="list-group-item border-0">
          <span class="badge badge-primary badge-pill" style="background-color:black">4</span> Lägg till vatten</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-6 mt-5">
      <p class="card-text"> Lägg till instruktioner</p>
      
        <div class="form-group">
          <textarea name="message" rows="5" class="form-control" placeholder="message..."></textarea>
        </div>
        <div align="center" style="padding: 12px;">
          <input type="submit" name="submit" class="btn btn-secondary" value="send-message"/>

        </div>
      
    </div>
  </div>
</div>



`;}});