Object.assign(Recipe.prototype, {template() { return`

    
    <div class="container-fluid recipe-container">
            <div class="row">
                <div class="col-12" align="center">
                    <div class="Recipe-name"></div><h1>(Namn på receptet)</h1></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn"><span class="fas fa-arrow-left"></span>Tillbaka</button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                            <img src="/imgs/pasta.jpg" class="img-fluid" alt="Responsive image">
                        <h2>Näringsvärde:</h2>
                        <ul>
                            <li>100g - Fett</li>
                            <li>10g - Protein</li>
                            <li>2g - Salt</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h2>Råvaror</h2>
                        <ol>
                            <li>Spagetti</li>
                            <li>Köttfärs</li>
                        </ol>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus laboriosam, aperiam nesciunt obcaecati adipisci minima, quos et cupiditate amet sapiente reiciendis voluptas tempora. Deleniti, est architecto. Pariatur enim dignissimos recusandae.
                    </div>
                    <div class="col-4">
                        <h2>Instruktioner</h2>
                        <ol>
                            <li>
                                Starta kastrullen men vatten
                            </li>
                        </ol>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus dicta autem omnis sapiente laborum eveniet quis deleniti dignissimos dolore ipsam velit molestiae consectetur nesciunt, ratione tenetur mollitia eum ipsa est?
                    </div>
                </div>
            
        </div>
    
    `;}});