Object.assign(AllRecipes.prototype, {template() { return`

<div class="container AllRecipes">
  <div class="row">
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kött.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kött.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kött.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kött.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kyckling.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kyckling.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kyckling.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/kyckling.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/fisk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/fisk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/fisk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/fisk.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/vegetarian.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/vegetarian.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/vegetarian.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/vegetarian.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/dessert.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/pasta-start.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/pasta-start.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/pasta-start.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
    <div class="card col-3">
      <img class="card-img-top" src="../../imgs/pasta-start.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-secondary btn-block">Visa recept</a>
      </div>
    </div>
  </div>
</div>

`;}});