Object.assign(AllRecipes.prototype, {template() { return`


<div class="container AllRecipes">
  <button class="btn filter-btn filter-btn-mobile mr-auto d-flex align-items-center d-lg-none">Filter<i class="fas fa-filter"></i></button>
  <div class="side-holder">
    <aside>
      <div class="filter-text">
        <h3>Filter</h3>
      </div>
      <button class="filter-btn"><i class="fas fa-arrow-alt-circle-right"></i></button>
      <div class="wrapper text-center pt-3 my-auto d-flex flex-column h-100">
        <h3 class=>Filtrera på kategorier</h3>
        <div class="d-flex justify-content-center my-5">
          <div class="d-flex flex-column align-items-start">
            <div class="category-filter dropdown-item d-flex">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="kött">Kött
              </label>
            </div>
            <div class="category-filter dropdown-item d-flex">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="kyckling">Kyckling
              </label>
            </div>
            <div class="category-filter dropdown-item d-flex">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="fisk">Fisk
              </label>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <div class="category-filter dropdown-item d-flex">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="vegetariskt">Vegetariskt
              </label>
            </div>
            <div class="category-filter dropdown-item d-flex">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="dessert">Dessert
              </label>
            </div>
            <div class="category-filter dropdown-item d-flex">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="övrigt">Övrigt
              </label>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <img src="/imgs/spinner.svg" class="spinner mx-auto" alt="Loading spinner svg">
  <h2 class="text-center text-light border-bottom pt-3 all-recipe-head-text">Filtrera på kategori eller hitta ditt
    recept här!</h2>
  <div class="row card-holder pb-5">


  </div>
</div>

`;}});