Object.assign(AllRecipes.prototype, {recipeCard(title, description, imgPath, id) { return`

<div class="card col-12 col-md-6 col-lg-3 offset-lg-1 mt-4">
  <img class="card-img-top pt-3" src="${imgPath}" alt="Recipe image">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">${title}</h5>
    <p class="descriptionOutput">${description}</p>
    <a href="/recipe/${id}" class="btn btn-secondary pop btn-block visa-recept-btn mt-auto mb-3 mb-lg-0">Visa recept</a>
  </div>

  `;}});